---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { Button } from "./ui/button";
---

<div id="container">
    <main>
		<Button>Hello world!</Button>
	</main>
</div>
